html {
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #03244d;
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #dd550c;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #03244d;
	text-shadow: 3px 3px 1px black;
}
p,li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.5px;
}
img {
	display: block;
	margin: 0 auto;
	width: 500px;
}